[Desktop Entry]
Name=BluFixer
GenericName=Bluetooth Fixer
Comment=Bluetooth troubleshooting utility for Linux
Comment[pt_BR]=Utilitário para correção de problemas Bluetooth no Linux
Exec=blufixer
Icon=org.renanmayrinck.blufixer
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Keywords=bluetooth;fix;utility;
